

<!--
//*******************************************************************
//  COMP229   W2022 MIDTERM
//  File name       : 500.ejs
//  Author's Name  : Kai Hong Yeung
//  StudentID       : 301229539
//  Web App name    : COMP229 W2022 MIDTERM Book Application
//  Date            : 06 Mar 2022
//*******************************************************************
-->



<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <header><h1><%= title %></h1></header>
          <section>
          <p><%= error %></p>
        </section>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


